	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Ingreso</title>
		
	</head>
	<form accept-charset="UTF-8" role="form" method="post" action="./processlogin.php">
		<input placeholder='Usuario' type="text" name='usuario'> <br>
		<br>
		<input placeholder='Contraseña' type="password" name='pass'> <br>
		<br>
		<input type="submit" value='Ingresar'>
	</form>